@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap');

.main{
  text-align: center;
  background-color: #262626;
}

.card-wrapper{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
  }
  .searchbar-wrapper{
    width: 100%;
  }
  
  .searchbar-wrapper form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .searchbar-wrapper label{
    font-size: 1.5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
  }
  .searchbar-wrapper input{
    width: 100%;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    border-style: none;
    border: none;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  
  .card{
    width: 500px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 450px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    /* background: rgb(250, 248, 248); */
    background: #282c34;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 2% 5%;
  }
  
  .card-img{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
    margin: 0 auto;
  }
  
  .card-body{
    grid-area: text;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .card-title{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Nunito",sans-serif;
    margin-bottom: 5%;
  }
  .card-subtitle{
    font-size: 2rem;
    margin-bottom: 15%;
  }
  
  .nav-wrapper{
    background-color: #282c34;
  }
  
  .navbar{
    padding: 0.2% 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  .navbar a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    transition: all 0.5s ease-in-out;
  }
  a:hover{
    color: rgb(190, 10, 10)
  }
  