body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main {
  width: 80vw;
  max-width: 1024px;
  margin: 35px auto;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}
