@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  padding: 0;
}

main {
  width: 85vw;
  min-height: 80vh;
  max-width: 1024px;
  margin: 35px auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-family: 'Bebas Neue', cursive;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

header h1 {
  text-align: center;
}

.character-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.char-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border: 3px solid black;
  background: lightgray;
  max-width: 300px;
}

.char-img img{
  max-width: 100%;
}

.container-fluid{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  border-radius: 5px;
  transition: all 1s;
}
.App-logo:hover{
  transform: scale(2);
}

.search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}